<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="text-align:left;padding:0;">
          <ion-icon name="arrow-back" style="font-size:25px;" (click)="closeViewInventoryFamiliesAndPatternModal()"></ion-icon>
        </ion-col>
        <ion-col size="10" style="text-align:left;white-space:normal;word-wrap:break-word;">
          <b>View Inventory Families & Patterns</b>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card style="margin:0;padding:5px;">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input [(ngModel)]="invFamilyPattern.name" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Code</ion-label>
            <ion-input [(ngModel)]="invFamilyPattern.code" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">SKU</ion-label>
            <ion-textarea [(ngModel)]="invFamilyPattern.sku" disabled></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="invFamilyPattern.desc" disabled></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cost</ion-label>
            <ion-input [(ngModel)]="invFamilyPattern.cost" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Selling Price</ion-label>
            <ion-input [(ngModel)]="invFamilyPattern.price" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Quantity</ion-label>
            <ion-input [(ngModel)]="invFamilyPattern.qty" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-row class="ion-align-items-center">
              <ion-col size="8" style="color:#cbcbcb;">
                <b>On Sale</b>
              </ion-col>
              <ion-col size="4">
                <ion-toggle color="success" disabled [checked]="invFamilyPattern.onsale" [(ngModel)]="invFamilyPattern.onsale"></ion-toggle>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-card style="margin:0px;padding:5px;margin-top:15px;">
        <ion-row>
          <ion-col size="12">
            <h4 style="border-bottom:1px solid #d9d9d9;">Associated Inventory Patterns</h4>
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th>
                  Pattern<span *ngIf="invFamilyPattern.patterns && invFamilyPattern.patterns?.length > 1">s</span>
                </th>
              </tr>
              </thead>
              <tbody *ngIf="invFamilyPattern.patterns?.length === 0">
              <tr>
                <td style="color:grey;">No inventory patterns defined.</td>
              </tr>
              </tbody>
              <tbody *ngIf="invFamilyPattern.patterns?.length > 0" style="background-color:white;border-bottom:1px solid #f2f2f2;border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;">
              <tr *ngFor="let pattern of invFamilyPattern.patterns;let i = index;" (click)="openViewInventoryPatternModal(pattern)">
                <td style="padding:3px;">
                  <ion-chip color="success" outline="true" style="white-space:normal;word-wrap:break-word;">
                    {{pattern?.name}}
                  </ion-chip>
                  <div style="white-space:normal;word-wrap:break-word;padding-left:15px;">
                    {{pattern?.desc}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
