<ion-content>
  <ion-row>
    <ion-col size="12" style="text-align:center;">
      <ion-row class="ion-align-items-center" style="border-bottom:1px solid #e6e6e6;">
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openViewStoreModal()">
            Store Management
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openInventoryManagementModal()">
            Inventory Management
          </ion-button>
        </ion-col>
<!--        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear">
            Ticket Management
          </ion-button>
        </ion-col>-->
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openSalesOrderManagementModal()">
            Sales Order Management
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openPromotionManagementModal()">
            Promotion Plans
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openWarrantyManagementModal()">
            Warranty Plans
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openShippingManagementModal()">
            Shipping Plans
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openVoucherManagementModal()">
            Voucher Management
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
