<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="text-align:left;padding:0;">
          <ion-icon name="arrow-back" style="font-size:25px;" (click)="closeVoucherManagementModal()"></ion-icon>
        </ion-col>
        <ion-col size="10" style="text-align:left;white-space:normal;word-wrap:break-word;">
          <b>Voucher Management</b>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content
            pullingText="Pull to Refresh"
            refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col size="12">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <div style="border:1px dashed #4285F4;text-align:center;color:rgba(66,133,244,0.4);" (click)="openAddVoucherModal()">
            <ion-icon name="albums" style="font-size:5rem;"></ion-icon>
            <h3 style="margin-top:0;">Click here to create a new Voucher</h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h4 style="border-bottom:1px solid #f2f2f2;">
            <b>Vouchers</b>
          </h4>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="6" *ngFor="let voucher of listOfVouchersByStoreUid" style="text-align:center;">
              <ion-button fill="outline" (click)="openEditVoucherModal(voucher.uid)"
                          style="width:100%;white-space:normal;word-wrap:break-word;">
                {{voucher?.name}}
              </ion-button>
            </ion-col>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreVouchers($event)">
              <ion-infinite-scroll-content
                      loadingSpinner="crescent">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
