<ion-content>
  <ion-card style="height:95%;">
    <ion-row class="ion-align-items-center" style="height:100%;">
      <ion-col size="12" style="text-align:center;">
        <h3 style="color:#e6e6e6;">
          <ion-icon name="close-circle" style="font-size:8rem;margin-bottom:15px;"></ion-icon>
          <br>
          Error 404!
          <br>
          <small>The page you have requested is not found, please try again later.</small>
          <br>
          <ion-button fill="outline" style="margin-top:10px;" (click)="navigateToHome()">
            Back to Home
          </ion-button>
        </h3>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>