<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="text-align:left;padding:0;">
          <ion-icon name="arrow-back" style="font-size:25px;" (click)="closeViewInventoryModal(false)"></ion-icon>
        </ion-col>
        <ion-col size="8" style="text-align:left;white-space:normal;word-wrap:break-word;">
          <b *ngIf="!isLoadingInventoryInfo">{{selectedInventory?.name}}</b>
          <ion-spinner name="crescent" *ngIf="isLoadingInventoryInfo"></ion-spinner>
        </ion-col>
        <ion-col size="2" *ngIf="!isLoadingInventoryInfo">
          <ion-button fill="clear" (click)="openEditInventoryModal()">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isLoadingInventoryInfo else finishedLoadingInventory">
    <ion-row>
      <ion-col size="12">
        <ion-card style="margin:10px;padding:5px;">
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-thumbnail style="object-fit:cover;margin:auto;width:100%;height:200px;">
                <ion-skeleton-text animated="true"></ion-skeleton-text>
              </ion-thumbnail>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card style="margin:10px;padding:5px;">
          <ion-row>
            <ion-col size="12">
              <ion-card style="padding:5px;">
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                        </ion-label>
                        <ion-label>
                          <ion-skeleton-text animated="true" style="width:100%;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-template #finishedLoadingInventory>
    <ion-row>
      <ion-col size="12">
        <ion-card style="margin:10px;padding:5px;">
          <ion-row class="ion-align-items-center">
            <ion-col size="12" style="text-align:center;">
              <img [src]="selectedInventory?.imgpath" class="rounded" *ngIf="!temporaryInventoryThumbnail"
                   style="object-fit:cover;"/>
              <img [src]="temporaryInventoryThumbnail" class="rounded" *ngIf="temporaryInventoryThumbnail"
                   style="object-fit:cover;"/>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" style="text-align:center !important;">
<!--              <ion-button color="warning" (click)="revertUploadedInventoryThumbnail()" [disabled]="!temporaryInventoryThumbnail">-->
<!--                Revert-->
<!--              </ion-button>-->
              <ion-button fill="clear" (click)="openThumbnailFilePicker()">
                Change Thumbnail
              </ion-button>
              <input type="file" multiple="false" style="display:none;"
                     #inventoryThumbnailContainer
                     (change)="uploadInventoryThumbnail($event)">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card style="margin:10px;padding:5px;">
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-row class="ion-align-items-center">
                <ion-col size="12" style="text-align:center !important;">
                  <ion-slides pager="true" [options]="ionSliderOptions">
                    <ion-slide *ngFor="let sliders of selectedInventory?.images">
                      <ion-row>
                        <ion-col size="12">
                          <img [src]="sliders?.imgpath" class="rounded"  style="object-fit:cover;"/>
                        </ion-col>
                        <ion-col size="12" style="margin-bottom:50px;">
                          <ion-button color="danger" (click)="removeSelectedSliderPhotoPrompt(sliders.uid)">
                            Remove
                          </ion-button>
                          <ion-button fill="clear" (click)="openSlidersFilePicker()">
                            Add More
                          </ion-button>
                          <input type="file" multiple="false" style="display:none;"
                                 #inventorySlidersContainer
                                 (change)="uploadInventorySliders($event)">
                        </ion-col>
                      </ion-row>
                    </ion-slide>
                  </ion-slides>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card style="margin:10px;padding:5px;">
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Inventory Name</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.name" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Code</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.code" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">SKU</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.sku" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea cols="20" rows="3" [(ngModel)]="selectedInventory.desc" disabled></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Cost</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.cost" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Base Price</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.price" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Stock's Threshold</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.stockthreshold" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Quantity</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.qty" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Sales Quantity</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.salesqty" disabled></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Rating</ion-label>
                  <ion-input [(ngModel)]="selectedInventory.rating" disabled></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card style="margin:10px;padding:5px;">
          <ion-card-header style="border-bottom:1px solid #f2f2f2;">
            Promotion Details
          </ion-card-header>
          <ion-card-content style="padding:0 5px 5px 5px;">
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <b>Promotion Plans</b>
              </ion-col>
              <ion-col size="8">
                {{selectedInventory?.promotion?.name ? selectedInventory?.promotion?.name : 'NONE'}}
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="selectedInventory?.promotion && selectedInventory?.promotion?.desc">
              <ion-col size="12">
                <div class="alert alert-primary" role="alert" style="margin-bottom:0;">
                  {{selectedInventory?.promotion?.desc}}
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card style="margin:10px;padding:5px;">
          <ion-card-header style="border-bottom:1px solid #f2f2f2;">
            Warranty Details
          </ion-card-header>
          <ion-card-content style="padding:0 5px 5px 5px;">
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <b>Warranty Plans</b>
              </ion-col>
              <ion-col size="8">
                {{selectedInventory?.warranty?.name ? selectedInventory?.warranty?.name : 'NONE'}}
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="selectedInventory?.warranty && selectedInventory?.warranty?.desc">
              <ion-col size="12">
                <div class="alert alert-success" role="alert" style="margin-bottom:0;">
                  {{selectedInventory?.warranty?.desc}}
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card style="margin:10px;padding:5px;">
          <ion-card-header style="border-bottom:1px solid #f2f2f2;">
            Shipping Details
          </ion-card-header>
          <ion-card-content style="padding:0 5px 5px 5px;">
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <b>Shipping Plans</b>
              </ion-col>
              <ion-col size="8">
                {{selectedInventory?.shipping?.name}}
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="selectedInventory?.shipping && selectedInventory?.shipping?.desc">
              <ion-col size="12">
                <div class="alert alert-info" role="alert" style="margin-bottom:0;">
                  {{selectedInventory?.shipping?.desc ? selectedInventory?.shipping?.desc : 'NONE'}}
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card style="margin:10px;padding:5px;">
          <ion-card-header style="border-bottom:1px solid #f2f2f2;">
            Inventory Families & Patterns
          </ion-card-header>
          <ion-card-content style="padding:0 5px 5px 5px;">
            <ion-row>
              <ion-col size="12">
                <table class="table" style="margin-bottom:0;">
                  <thead class="thead-dark">
                  <tr>
                    <th width="60%">Families</th>
                    <th width="40%">Patterns</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="selectedInventory?.inventoryfamilies?.length === 0" style="background-color:white;border-bottom:1px solid #f2f2f2;border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;">
                  <tr>
                    <td colspan="3" style="color:grey;">No inventory families and patterns.</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="selectedInventory?.inventoryfamilies?.length > 0"
                         style="background-color:white;border-bottom:1px solid #f2f2f2;border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;">
                  <tr *ngFor="let invFamilyPattern of selectedInventory?.inventoryfamilies;let i = index;"
                      (click)="openViewInventoryFamiliesAndPatternsModal(invFamilyPattern)">
                    <td>
                      <span class="badge badge-primary" style="white-space:normal;word-wrap:break-word;text-align:left;">
                          {{invFamilyPattern?.name}}
                      </span>
                    </td>
                    <td>
                      <ng-container *ngIf="invFamilyPattern?.patterns.length > 0 else noPattern">
                            <span class="badge badge-info" style="white-space:normal;word-wrap:break-word;text-align:left;"
                                  *ngFor="let pattern of invFamilyPattern?.patterns;let j = index;">
                            {{pattern?.name}}
                        </span>
                      </ng-container>
                      <ng-template #noPattern>
                        <span class="badge badge-dark">
                            NONE
                        </span>
                      </ng-template>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-button color="danger" expand="full" (click)="deleteSelectedInventoryPrompt()">
          Delete Inventory
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
