<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="text-align:left;padding:0;">
          <ion-icon name="arrow-back" style="font-size:25px;" (click)="closeCreateWarrantyModal(false)"></ion-icon>
        </ion-col>
        <ion-col size="10" style="text-align:left;white-space:normal;word-wrap:break-word;">
          <b>Add Warranty Plans</b>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card style="margin:5px;">
        <ion-card-header style="padding-top:0;border-bottom:1px solid #e6e6e6;">
          <h4 style="margin-bottom:0;margin-top:15px;">
            <b>Warranty Plan Details</b>
          </h4>
        </ion-card-header>
        <ion-card-content style="padding:5px;" [formGroup]="warrantyPlanFormGroup">
          <ion-row>
            <ion-col size="12">
              <ion-row class="ion-align-items-center">
                <ion-col size="4" style="font-weight:bold;">
                  Warranty Name<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyName').invalid">*</span>
                </ion-col>
                <ion-col size="8">
                  <input type="text" class="form-control"
                         [(ngModel)]="warrantyNameModel"
                         formControlName="warrantyName"
                         [ngClass]="{'is-invalid': warrantyPlanFormGroup.get('warrantyName').invalid && warrantyPlanFormGroup.get('warrantyName').touched, 'is-valid': warrantyPlanFormGroup.get('warrantyName').valid}">
                  <ul class="error"
                      *ngIf="warrantyPlanFormGroup.get('warrantyName').invalid && warrantyPlanFormGroup.get('warrantyName').touched">
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyName').hasError('required')">
                      Name is required.
                    </li>
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyName').hasError('minlength') || warrantyPlanFormGroup.get('warrantyName').hasError('maxlength')">
                      Name must be between {{warrantyNameMinLength}} to {{warrantyNameMaxLength}} characters.
                    </li>
                  </ul>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="4" style="font-weight:bold;">
                  Description<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyDescription').invalid">*</span>
                </ion-col>
                <ion-col size="8">
                  <textarea rows="3" cols="20" class="form-control"
                            [(ngModel)]="warrantyDescriptionModel"
                            formControlName="warrantyDescription"
                            [ngClass]="{'is-invalid': warrantyPlanFormGroup.get('warrantyDescription').invalid && warrantyPlanFormGroup.get('warrantyDescription').touched, 'is-valid': warrantyPlanFormGroup.get('warrantyDescription').valid}"></textarea>
                  <ul class="error"
                      *ngIf="warrantyPlanFormGroup.get('warrantyDescription').invalid && warrantyPlanFormGroup.get('warrantyDescription').touched">
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyDescription').hasError('required')">
                      Description is required.
                    </li>
                    <li *ngIf="(warrantyPlanFormGroup.get('warrantyDescription').hasError('minlength') || warrantyPlanFormGroup.get('warrantyDescription').hasError('maxlength'))">
                      Description must be between {{warrantyDescriptionMinLength}} to {{warrantyDescriptionMaxLength}} characters.
                    </li>
                  </ul>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="4" style="font-weight:bold;">
                  Warranty Period (Months)<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').invalid">*</span>
                </ion-col>
                <ion-col size="8">
                  <input type="text" class="form-control"
                         [(ngModel)]="warrantyPeriodModel"
                         formControlName="warrantyPeriod"
                         [ngClass]="{'is-invalid': warrantyPlanFormGroup.get('warrantyPeriod').invalid && warrantyPlanFormGroup.get('warrantyPeriod').touched, 'is-valid': warrantyPlanFormGroup.get('warrantyPeriod').valid}">
                  <ul class="error"
                      *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').invalid && warrantyPlanFormGroup.get('warrantyPeriod').touched">
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').hasError('required')">
                      Warranty Period is required.
                    </li>
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').hasError('maxlength')">
                      Warranty Period cannot contain more than {{warrantyPeriodMaxLength}} digits.
                    </li>
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').hasError('pattern')">
                      Warranty Period must contain digits only.
                    </li>
                  </ul>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="4" style="font-weight:bold;">
                  Policy<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').invalid">*</span>
                </ion-col>
                <ion-col size="8">
                  <textarea rows="6" cols="20" class="form-control"
                            [(ngModel)]="warrantyPolicyModel"
                            formControlName="warrantyPolicy"
                            [ngClass]="{'is-invalid': warrantyPlanFormGroup.get('warrantyPolicy').invalid && warrantyPlanFormGroup.get('warrantyPolicy').touched, 'is-valid': warrantyPlanFormGroup.get('warrantyPolicy').valid}"></textarea>
                  <ul class="error"
                      *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').invalid && warrantyPlanFormGroup.get('warrantyPolicy').touched">
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').hasError('required')">
                      Policy is required.
                    </li>
                    <li *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').hasError('maxlength')">
                      Policy cannot contain more than {{warrantyPolicyMaxLength}} characters.
                    </li>
                  </ul>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="12">
                  <ion-button expand="full" [disabled]="warrantyPlanFormGroup?.invalid" (click)="createWarrantyPlan()">
                    Create Warranty Plan
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
