<ion-content>
  <ion-row>
    <ion-col size="12" style="text-align:center;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openViewSelectedChannelModal()">
            View Channel
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-button style="width:80%;" fill="clear" (click)="openVideoManagementModal()">
            Video Management
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>