<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="text-align:left;padding:0;">
          <ion-icon name="arrow-back" style="font-size:25px;" (click)="closeEditWarrantyModal(false)"></ion-icon>
        </ion-col>
        <ion-col size="8" style="text-align:left;">
          <b>Modify Warranty Plan</b>
        </ion-col>
        <ion-col size="2" style="text-align:right;" *ngIf="allowToModify">
          <ion-button fill="clear" (click)="updateWarrantyPlan()" [disabled]="warrantyPlanFormGroup.invalid">
            <ion-icon name="checkmark" style="font-size:25px;"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" style="text-align:right;" *ngIf="!allowToModify">
          <ion-button fill="clear">
            <ion-icon name="lock"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isLoadingWarranty else finishedLoadingWarrantyInfo">
    <ion-row>
      <ion-col size="12" style="text-align:center;">
        <h3 style="color:#e6e6e6;">
          <ion-icon name="cube" style="font-size:8rem;"></ion-icon>
          <br>
          No Warranty Selected!
        </h3>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-template #finishedLoadingWarrantyInfo>
    <ng-container *ngIf="allowToModify else readOnly">
      <ion-row>
        <ion-col size="12">
          <ion-card style="margin:5px;">
            <ion-card-content style="padding:5px;" [formGroup]="warrantyPlanFormGroup">
              <ion-row>
                <ion-col size="12">
                  <ion-list style="padding-top:0;padding-bottom:0;">
                    <ion-item>
                      <ion-label position="floating">Warranty Name<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyName').invalid">*</span></ion-label>
                      <ion-input [(ngModel)]="selectedWarranty.name" formControlName="warrantyName"></ion-input>
                    </ion-item>
                    <ul class="error"
                        *ngIf="warrantyPlanFormGroup.get('warrantyName').invalid && warrantyPlanFormGroup.get('warrantyName').touched">
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyName').hasError('required')">
                        Name is required.
                      </li>
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyName').hasError('minlength') || warrantyPlanFormGroup.get('warrantyName').hasError('maxlength')">
                        Name must be between {{warrantyNameMinLength}} to {{warrantyNameMaxLength}} characters.
                      </li>
                    </ul>
                    <ion-item>
                      <ion-label position="floating">Description<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyDescription').invalid">*</span></ion-label>
                      <ion-textarea [(ngModel)]="selectedWarranty.desc" formControlName="warrantyDescription"></ion-textarea>
                    </ion-item>
                    <ul class="error"
                        *ngIf="warrantyPlanFormGroup.get('warrantyDescription').invalid && warrantyPlanFormGroup.get('warrantyDescription').touched">
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyDescription').hasError('required')">
                        Description is required.
                      </li>
                      <li *ngIf="(warrantyPlanFormGroup.get('warrantyDescription').hasError('minlength') || warrantyPlanFormGroup.get('warrantyDescription').hasError('maxlength'))">
                        Description must be between {{warrantyDescriptionMinLength}} to {{warrantyDescriptionMaxLength}} characters.
                      </li>
                    </ul>
                    <ion-item>
                      <ion-label position="floating">Warranty Period (Months)<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').invalid">*</span></ion-label>
                      <ion-input [(ngModel)]="selectedWarranty.period" formControlName="warrantyPeriod"></ion-input>
                    </ion-item>
                    <ul class="error"
                        *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').invalid && warrantyPlanFormGroup.get('warrantyPeriod').touched">
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').hasError('required')">
                        Warranty Period is required.
                      </li>
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').hasError('maxlength')">
                        Warranty Period cannot contain more than {{warrantyPeriodMaxLength}} digits.
                      </li>
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyPeriod').hasError('pattern')">
                        Warranty Period must contain digits only.
                      </li>
                    </ul>
                    <ion-item>
                      <ion-label position="floating">Policy<span class="required" *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').invalid">*</span></ion-label>
                      <ion-textarea [(ngModel)]="selectedWarranty.policy" formControlName="warrantyPolicy"></ion-textarea>
                    </ion-item>
                    <ul class="error"
                        *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').invalid && warrantyPlanFormGroup.get('warrantyPolicy').touched">
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').hasError('required')">
                        Policy is required.
                      </li>
                      <li *ngIf="warrantyPlanFormGroup.get('warrantyPolicy').hasError('maxlength')">
                        Policy cannot contain more than {{warrantyPolicyMaxLength}} characters.
                      </li>
                    </ul>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-button expand="full" color="danger" (click)="deleteWarrantyPlan()">
                Delete Warranty Plan
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-template #readOnly>
      <ion-row>
        <ion-col size="12">
          <ion-card style="margin:5px;">
            <ion-card-content style="padding:5px;">
              <ion-row>
                <ion-col size="12">
                  <ion-list style="padding-top:0;padding-bottom:0;">
                    <ion-item>
                      <ion-label position="floating">Warranty Name</ion-label>
                      <ion-input [(ngModel)]="selectedWarranty.name" disabled></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Description</ion-label>
                      <ion-textarea [(ngModel)]="selectedWarranty.desc" disabled></ion-textarea>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Warranty Period (Months)</ion-label>
                      <ion-input [(ngModel)]="selectedWarranty.period" disabled></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Policy</ion-label>
                      <ion-textarea [(ngModel)]="selectedWarranty.policy" disabled></ion-textarea>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
  </ng-template>
</ion-content>
