<ion-content main>
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content
            pullingText="Pull to Refresh"
            refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="listOfCurrentUsersStores?.length > 0 else noStoresCreated">
    <ion-card>
      <ion-buttons slot="start" style="padding:5px;">
        <ion-menu-button style="border:1px solid #ebebeb;border-radius:5px;color:black;background:white;"></ion-menu-button>
        <h3 style="width:100%;margin-left:10px;">
          <b>My Store</b>
        </h3>
      </ion-buttons>
      <ion-row>
        <ion-col size="12">
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <div style="border:1px dashed #4285F4;text-align:center;color:rgba(66,133,244,0.4);background:white;" (click)="openCreateStoreModal()">
                <ion-icon name="home" style="font-size:5rem;"></ion-icon>
                <h3 style="margin-top:0;">Click here to create a new Store</h3>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" *ngFor="let store of listOfCurrentUsersStores">
              <ion-card (click)="openStoreInventoryManagementModal(store.uid, store.id)" style="margin:0;background:white;">
                <ion-card-header style="background-color:#ececec;padding:0;">
                  <ng-container *ngIf="store.imgpath else noImageForStore">
                    <img [src]="store.imgpath" alt="store_img" class="productImage">
                  </ng-container>
                  <ng-template #noImageForStore>
                    <img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage">
                  </ng-template>
                </ion-card-header>
                <ion-card-content style="padding-left:3px;">
                  <span style="white-space:normal;word-wrap:break-word;">
                    <b>{{store?.name}}</b>
                  </span>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreStores($event)">
              <ion-infinite-scroll-content
                      loadingSpinner="crescent">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>
  <ng-template #noStoresCreated>
    <ion-card style="height:100%">
      <ion-buttons slot="start" style="padding:5px;">
        <ion-menu-button style="border:1px solid #ebebeb;border-radius:5px;color:black;"></ion-menu-button>
      </ion-buttons>
      <ion-row>
        <ion-col size="12" style="text-align:center;">
          <h3 style="color:#e6e6e6;">
            <ion-icon name="home" style="font-size:8rem;"></ion-icon>
            <br>
            No Stores yet! <br>Start opening Stores now!
            <br>
            <ion-button fill="outline" style="margin-top:10px;" (click)="openCreateStoreModal()">
              Add Store&nbsp;&nbsp;<ion-icon name="add"></ion-icon>
            </ion-button>
          </h3>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-template>
</ion-content>